###directories to ignore###
pics/
images/
build/
objs/
.vscode/
lib/

###file types to ignore###
*.swp
*.o
*.a
*.so
*.cxx
*.root
*.bin
*.pcm
*.jpg
*.png
*.sublime-project
*.sublime-workspace
*.make
*.yaml
Makefile
event_log.txt
.DS_Store

###include this###
!.gitignore
